/* app/components/FeaturesList/FeaturesList.module.css */

.features {
    padding: 0px 50px;
    background-color: #f9f9f9;
    padding-bottom: 100px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.textContainer {
    max-width: 700px;
}

.featuresTitle {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.featuresSubtitle {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #666;
}

.featureItems {
    list-style: none;
    padding: 0;
    margin: 0;
}

.featureItem {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
    color: #333;
    align-items: flex-start;
}

.checkmark {
    color: #007bff;
    margin-right: 10px;
    font-size: 20px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featureImage {
    max-width: 100%;
    height: auto;
}