.hero {
  background-image: url('../../assets/bg.png');
  /* Optional background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--light-text-color);
  padding: 0 20px;
  padding-top: 15%;
  padding-bottom: 0%;
  background-color: var(--background-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.heroContent {
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin-top: -150px;
  margin-bottom: 160px;
}

.heroImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.heroTitle {
  font-size: 48px;
  margin-bottom: 20px;
  color: #ffffff;
}

.heroDescription {
  font-size: 20px;
  margin-bottom: 40px;
  color: #dddddd;
}

/* Ensure that buttons are displayed in a row on larger screens */
.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: row; /* Row layout for desktop */
}

.ctaButton {
  padding: 18px 45px;
  background-color: var(--green);
  color: white;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.ctaButton2 {
  padding: 18px 45px;
  background-color: #b76edd;
  color: white;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.secondaryButton {
  padding: 18px 30px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.ctaButton:hover {
  background-color: #0056b3;
}

.secondaryButton:hover {
  background-color: white;
  color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .hero {
    padding-top: 10%;
    
  }

  .heroContent {
    margin-top: 0px;
    margin-bottom: 150px;
    
  }

  .heroTitle {
    font-size: 36px;
  }

  .heroDescription {
    font-size: 16px;
  }

  .buttons {
    flex-direction: column; /* Stack buttons vertically on mobile */
  }

  .secondaryButton {
    margin-top: 20px;
  }

  .heroImage {
    align-self: center;
    width: 80%;
    margin: 0 auto;
    margin-left: 40px;
    margin-bottom: 30px;
  }
}
