/* app/components/InfoSection/InfoSection.module.css */
.infoSection {
  padding: 50px 0px;
  padding-top: 0px;
  text-align: center;
  margin-top: 50px;
}

.infoTitle {
  font-size: 36px;
  margin-bottom: 40px;
  color: '#000';
}

.infoContent {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.infoBlock {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
  padding: 30px;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.infoBlock:hover {
  transform: translateY(-10px);
}

.icon {
  height: 80px;
  margin-bottom: 20px;
}

.infoBlockTitle {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--text-color);
}

.infoBlockDescription {
  font-size: 16px;
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  .infoContent {
    margin-top: -20px;
  }
}
