.surveysContainer {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  border-radius: var(--border-radius);
  line-height: 40px;
  margin-bottom: 0;
  padding-top: 5%;
}

.title {
  font-size: 34px;
  margin-bottom: 40px;
  color: #1f3e55;
  text-align: center;
  line-height: 50px;
}

.surveysGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.surveyCard {
  background-color: white;
  padding: 30px;
  border-radius: var(--border-radius);
  filter: drop-shadow(0px 15px 15px rgba(0, 37, 141, 0.15));
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.005);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.surveyCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.surveyTitle {
  margin-bottom: 15px;
  font-size: 22px;
  color: #1f3e55;
}

.surveyDescription {
  margin-bottom: 20px;
  font-size: 16px;
  color: var(--text-color-secondary);
  text-align: center;
}

.surveyInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  font-size: 16px;
  color: var(--text-color-secondary);
}

.timeIcon {
  width: 50px;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
}

.timeIcon2 {
  width: 50px;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
}

.takeSurveyButton {
  padding: 12px 25px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  font-family: Almarai, sans-serif;
}

.takeSurveyButton:hover {
  background-color: #0056b3;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error {
  color: white;
  background-color: rgb(243, 80, 80);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  text-align: left;
  margin-bottom: 20px;
}

.success {
  color: white;
  background-color: rgb(18, 167, 41);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  text-align: left;
  margin-bottom: 20px;
}
